.button {
    background: linear-gradient(to bottom, #4C38C2, #2F2188);
    margin: 4px 0 4px 0;
}

.button:hover {
    background: linear-gradient(to bottom, #4C38C2, #2F2188) !important;
}

.icon {
    font-size: 18px;
    padding: 8px;
}