.cardStyle {
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    background-color: #ffffff;
    padding: 16px;
}

.title {
    font-size: 16px;
    font-weight: bold;
}

.content {
    font-size: 14px;
    color: #797979;
}