.layoutStyle {
    height: 100vh;

}

.siderStyle {
    margin-right: 16px;
    padding: 12px;
}

.headerStyle {
    padding: 0;
    font-size: 48px;
    font-weight: 500;
    font-family: Barlow, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contentStyle {}

.profileImg {
    border-radius: 50%;
}

.menuStyle {
    font-size: 18px;
}